/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* audio .compact {
  width: 100px;
} */


/* audio::-webkit-media-controls-volume-slider, 
audio::-webkit-media-controls-timeline-container, 
audio::-webkit-media-controls-time-remaining-display,  
audio::-webkit-media-controls-timeline {
  display: none !important;
} */

/* 
audio::-webkit-media-controls-panel {
  padding: 0 0 0 1px;
  justify-content: center;
}
  */